* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(221, 227, 232);
}

header {
  padding: 10px;
  width: 100%;
  background-color: white;
  height: 70px;
  display: flex;
  /* justify-content: space-between; Adjusted */
  align-items: center;
}

.first-header {
  display: flex;
  width: 58%;
  gap: 2%;
  align-items: center;
  margin: 0px 20px;
}

.first-header input {
  font-size: 20px;
  outline: none;
  width: 100%;
  background-color: rgb(235, 237, 242);
  border: none;
}

.search-div {
  padding: 8px 20px;
  width: 90%;
  border-radius: 8px;
  gap: 5px;
  background-color: rgb(235, 237, 242);
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.second-header {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Opt {
  display: flex;
  align-items: center;
}

.Opt select {
  padding: 15px 0;
  margin: 0 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 17px;
}

.span-icon {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px 0;
  margin: 0 10px;
  outline: none;
  border: none;
  font-size: 12px;
  text-decoration: none;
}

select:hover {
  background-color: #2874f0;
  color: aliceblue;
}
a {
  text-decoration: none;
}
a .fa-cart-plus {
  color: rgb(15, 15, 15); /* Change icon color */
}
#menu,
.logo2 {
  display: none;
}
#cart-sup {
  /* background-color: rgb(236, 78, 25); */
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 50%;
  font-weight: 900;
  font-size: 10px;
  color: red;
}

/* Product-Type */
#overview {
  padding: 10px;
  margin: 1% 2%;
  width: auto;
  background-color: white;
  border-radius: 8px;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}
.product-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  font-weight: 800;
}

/* Slide-Window */
#slide-window {
  position: relative;
  margin: 2%;
  width: auto;
  background-color: white;
  height: 170px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
}

#slide-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 2%;
}
.prev,
.next {
  cursor: pointer;
  padding: 1% 2%;
  width: auto;
  display: block;
  color: rgb(19, 19, 19);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.below-slide-window {
  width: auto;
  padding: 1%;
  border-radius: 6px;
  margin: 2%;
  height: auto;
  background-color: white;
}
.below-slide-window-container {
  padding: 10px;
  width: auto;
  background-color: white;
  border-radius: 8px;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Hide scrollbar for specific element */
.below-slide-window-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.below-slide-window-card,
.below-slide-window-card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 220px;
  width: 170px;
  border: 0.5px solid silver;
  padding: 1%;
  margin: 1%;
  font-weight: 800;
  border-radius: 6px;
}
.below-slide-window-card1{
  justify-content: space-between;
  height: 210px;
  font-size: 14px;
}
.below-slide-window-card1 {
  padding: 0;
}
.divRating {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 1px;
  align-items: center;
  width: 90%;
}
.below-slide-window-card-img,
.below-slide-window-card-img1 {
  height: 120px;
  width: 140px;
  margin: 1%;
  margin-bottom: 15px;
  transition: transform 0.5s ease;
}
.below-slide-window-card-img:hover {
  transform: scale(1.1);
  height: 130px;
  width: 150px;
}
.below-slide-window-card-img1:hover {
  border-radius: 8px;
  transform: scale(1.1);
  height: 130px;
  width: 150px;
}
.below-slide-window-container1 {
  padding: 10px;
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 8px;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.button-div {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.addtocart-button {
  outline: none;
  padding: 5px 12px;
  background-color: #3f48f0d6;
  color: aliceblue;
  border: none;
  font-size: 15px;
  border-radius: 8px;
}
#about-site {
  border-radius: 6px;
  margin: 2%;
  background-color: white;
  padding: 3%;
  font-size: 22px;
}
#about-site h5 span {
  color: #3174e1;
  font-weight: 900;
  text-transform: capitalize;
}
#social-handlers {
  display: flex;
  gap: 25px;
  margin: 15px 0;
}
footer {
  width: 100%;
  align-items: center;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
}

/* CSS for shopping cart */
.shopping-cart {
  display: inline-block;
  flex-wrap: wrap;
  margin: 3%;
  height: auto;
  justify-content: center;
  font-size: 15px;
}


/* Feedback Section */
#form {
  width: 70%;
  padding: 8px;
  gap: 15px;
  /* align-items: center; */
  padding: 4%;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.collect-data {
  border: 0.1px solid black;
  background-color: rgb(221, 227, 232);
  padding: 8px;
  margin: auto;
  width: 100%;
  font-size: 20px;

  border-radius: 6px;
  text-align: start;
}
#submit {
  margin: auto;
  padding: 8px 16px;
  margin-top: 15px;
  font-size: 22px;
  border-radius: 8px;
  background-color: #3f48f0d6;
  color: aliceblue;
  border: none;
}
#bag{
  width: 30%;
}
/* Media Queries for Responsiveness */

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 10px 0;
  }

  .first-header,
  .search-div,
  .second-header {
    width: 90%;
    margin: 0;
  }

  .search-div {
    /* flex-direction: column; */
    align-items: stretch;
  }
  .logo1,
  .second-header {
    display: none;
  }
  #menu,
  .logo2 {
    display: block;
  }
  #slide-window {
    height: 100px;
  }
  #form{
    width: 85%;
  }
  .shopping-cart{
    font-size: 11px;
  }
  #bag{
    width: 80%;
  }
}
@media screen and (max-width: 398px) {
  .below-slide-window-container1 {
    align-items: center;
  }
  .below-slide-window-card,
  .below-slide-window-card1 {
    width: 140px;
    font-size: 11px;
    height: auto;
    margin: 10px 5px;
  }
 .below-slide-window-card-img1,.below-slide-window-card-img1 {
    height: 100px;
    width: 120px;
    
}
  .divRating {
    font-size: 10px;
  }
  .addtocart-button {
    padding: 4px 7px;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 6px;
  }
  .button-div {
    justify-content: space-between;
    margin: auto;
  }
  #bag{
    width: 80%;
  }
 
}


